/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
  background: #433834;
}

.header {
  background: #567eaf;
  padding:10px;
  height:350px;
  margin: 0;
  border-style: solid;
  border-width: 5px;
  border-top: 10px;
  border-left: 10px;
  border-right: 10px;
  text-align:center;
}

.header h1{
  color:#ffffff;
  font-size: 1.3em;
  font-family: georgia, serif;
  margin: 0;
}
.header h2{
  color: #ffffff;
  font-size: 1em;
  font-family: georgia, serif;
  margin: 0;
}
.header img{
  height: 240px;
  width: 240px;
  text-align:center;
}
.media-grid {
  list-style-type: none;
  background: #4d576a;
  margin: 0;
  padding: 0;
}

.media-grid li {
  background: #4d576a;
  float:left;
  height: 200px;
  width: 20%;
}

.media-grid img{
  height:200px;
  width:245px;
}

.media-grid li:nth-child(even) {
  background: #384256;
}

.media-grid.media-grid-sm li {
  width: 20%;
  height: 200px;
}
.herosection{
  background: #343b47;
  list-style-type: none;
  color: #FFFFFF;
  text-align:center;
  padding-top:30px;
  padding-bottom: 0px;
}

.herosection img{
  height: 270px;
  width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.aboutme{
margin: 0;
padding-top:0px;
background: #4d576a;
color: #FFFFFF;
list-style-type:none;
padding-bottom:30px;
}

.aboutme h2{
  padding-top:20px;
  text-align:center;
}

.aboutme ul{
  list-style-type:none;
  text-align:center;
  padding-right:40px;

}

.aboutme img{
}
body {
	font-family: 'Roboto Slab', serif;
	font-size:14px;
	background: url(http://www.queness.com/resources/html/hover-effects/images/bg.gif) repeat;
}

.container {
	width: 940px;
	margin:0 auto;
	padding:10px;
}

.item {
			text-align:center;
			float:left;
			margin:5px;
			position:relative;
		}

			.item,
			.item-hover,
			.item-hover .mask,
			.item-img,
			.item-info {
				width: 300px;
				height: 225px;
			}

			.item-hover,
			.item-hover .mask,
			.item-img {
				position:absolute;
				top:0;
				left:0;
			}

			.item-type-line .item-hover {
				z-index:100;
				-webkit-transition: all 300ms ease-out;
				-moz-transition: all 300ms ease-out;
				-o-transition: all 300ms ease-out;
				transition: all 300ms ease-out;
				opacity:0;
				cursor:pointer;
				display:block;
				text-decoration:none;
				text-align:center;
			}

				.item-type-line .item-info {
					z-index:10;
					color:#ffffff;
					display:table-cell;
					vertical-align:middle;
					position:relative;
					z-index:5;
				}

				.item-type-line .item-info .headline {
					font-size:20px;
				}

				.item-type-line .item-info .line {
					 height:1px;
					 width:0%;
					 margin:15px auto;
					 background-color:#ffffff;
					-webkit-transition: all 500ms ease-out;
					-moz-transition: all 500ms ease-out;
					-o-transition: all 500ms ease-out;
					transition: all 500ms ease-out;

				}

				.item-type-line .item-info .date {
					font-size:12px;
				}

				.item-type-line .item-hover .mask {
					background-color:#000;
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
					filter: alpha(opacity=50);
					opacity:0.5;
					z-index:0;
				}

				.item-type-line .item-hover:hover .line {
					width:40%;
				}

				.item-type-line .item-hover:hover {
					opacity:1;
				}

			.item-img {
				background-color:#7a548f;
				z-index:0;
			}
/*avoid styling individual elements no h2, h3, etc. first step is get element together to recreate
wireframe in broweser. then create a first draft of your portfolio content. this should include all site copywriting and media (images, video, etc
place this draft copy in your design system html page reference monday's lecture and slides on crafting solid website copy) add real content where you see solid lines on the wireframe*/










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
