@mixin hover-link {
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
  }
}
.aboutme {
  margin: 0;
  padding-top: 0px;
  background: #4d576a;
  color: #FFFFFF;
  list-style-type: none;
  padding-bottom: 30px;
  h2 {
    padding-top: 20px;
    text-align: center;
    @include hover-link;
  }
  ul {
    list-style-type: none;
    text-align: center;
    padding-right: 40px;
  }
}




/*avoid styling individual elements no h2, h3, etc. first step is get element together to recreate
wireframe in broweser. then create a first draft of your portfolio content. this should include all site copywriting and media (images, video, etc
place this draft copy in your design system html page reference monday's lecture and slides on crafting solid website copy) add real content where you see solid lines on the wireframe*/
