.header {
  background: #343b47;
  height: 370px;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 20px;
  li {
    color: #f06a36;
    text-align: center;
    list-style-type: none;
    font-size: 24px;
    font-family: lucida Sans Unicode;
  }
  img {
    height: 250px;
    width: 150px;
    border-radius: 25px;
    border-radius-top: 20px;
    padding-bottom: 0px;
  }
} 
