.herosection {
  background: #343b47;
  list-style-type: none;
  color: #FFFFFF;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;
  img {
    height: 270px;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
}
