.history{
  text-align:center;
  padding-bottom:40px;
  border-bottom: 3px;
  border-bottom-color: #ffffff;
  border-style: solid;
  border-top: 0px;
  font-family: georgia, serif;
  font-size:1em;
}
#p{
  color: #ffffff;

}
#text{
  color: #ffffff;
  padding-left:80px;
  padding-right: 80px;
}
