.nav {
  height: 40px;
  background: #caad81;
  font-family: georgia, serif;
  ul {
    margin: 0;
    padding: 0;
    position: block;
    li {
      list-style: none;
      padding-left: 25px;
      a {
        text-decoration: none;
        float: left;
        display: block;
        padding: 10px 92px;
        text-align: center;
        color: #433834;
        &:hover {
          color: #567eaf;
        }
      }
    }
  }
}
.headerBreak{
  width: 100%;
  height: 0;
  border-bottom: 3px solid;
  border-color: #ffffff;
}
