.services{
  border-bottom: 3px;
  border-style: solid;
  border-top: 0;
  border-bottom-color: #ffffff;
}
h1{
  text-align:center;
  color: #ffffff;
  padding-left:60px;
  padding-right: 60px;
}
#servtext{
  color: #ffffff;
}
